<div class="panel panel-default">
  <div class="panel-heading input-lg">Surveys</div>
    <div class="panel-body">
      <p>Below lists all the survey titles.</p>
      <p>Press the 'Delete' button if you wish to delete a survey.<br>
        If you wish to rename a survey, fill in the rename column.</p>
    </div>
    <% if Survey.any?() %>

      <table class="table table-hover">

        <thead>
          <tr>
            <th>Title</th>
            <th>Delete</th>
            <th>Rename<th>
          </tr>
        </thead>

        <tbody>
          <% Survey.order('name').all().each() do |survey| %>
            <tr>

              <td class = "id">
                <a href="/surveys/<%= survey.id() %>"><%= survey.name() %></a>
              </td>

              <td>
                <form action='/surveys/<%= survey.id() %>' method='post'>
                  <input name="_method" type="hidden" value="delete">
                  <input class="btn btn-sm btn-danger" type = 'submit' name='button_id' value='Delete'>
                </form>
              </td>

              <td>
                <form action='/surveys/<%= survey.id() %>' method='post'>
                  <input name="_method" type="hidden" value="patch">
                    <input id="name" name="name" type="text">
                    <input class="btn btn-sm btn-warning" type = 'submit' name='button_id' value='Rename'>
                </form>
              </td>

            </tr>

          <% end %>
        </tbody>
      </table>

    <% end %>
  </div>
</div>







<hr>
<hr>

<form action="/surveys" method="post">

  <label for="name">Add a survey title:</label>
  <input id="name" name="name" type="text">

  <button class='btn btn-sm btn-success' type='submit'><span class='glyphicon glyphicon-tree-deciduous'></span> Add Survey</button>
</form>
